<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Acornima" version="1.3.2" targetFramework="net481" />
  <package id="BlackSharp.Core" version="1.0.7" targetFramework="net481" />
  <package id="DiskInfoToolkit" version="1.1.2" targetFramework="net481" />
  <package id="Esprima" version="3.0.5" targetFramework="net481" />
  <package id="HidSharp" version="2.6.4" targetFramework="net481" />
  <package id="LibreHardwareMonitorLib" version="0.9.6" targetFramework="net481" />
  <package id="ncalc" version="1.3.8" targetFramework="net48" />
  <package id="RAMSPDToolkit-NDD" version="1.4.2" targetFramework="net481" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net48" />
  <package id="System.CodeDom" version="10.0.2" targetFramework="net481" />
  <package id="System.IO.Compression.ZipFile" version="4.3.0" targetFramework="net48" />
  <package id="System.Management" version="10.0.2" targetFramework="net481" />
  <package id="System.Memory" version="4.6.3" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="6.0.0" targetFramework="net481" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net481" />
  <package id="System.Threading.AccessControl" version="10.0.3" targetFramework="net481" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.3" targetFramework="net48" />
  <package id="Vostok.Sys.Metrics.PerfCounters" version="0.0.8" targetFramework="net481" />
</packages>